body {
    padding-top: 5rem;
    background-color: #EBF3FA;
}

.uList, .uList1{
    list-style: none;
    display: flex;
    padding: 0;
}

.uList {
    flex-direction: column;
}

.uList1 {
    flex-direction: row;
    justify-content: center;
}

.photos {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background-color: #ffffff;
    margin: 5px;
    float: left;
    margin-right: 20px;
}

.users, .user {
    border-radius: 5px;
    border-top: solid 4px #4A90E2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}
.users {
    min-width: 50%;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.user {
    min-width: 50%;
    padding: 10px 10px 10px 20px;
}

.photos-large {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    background-color: #ffffff;
    margin: 5px 20px 20px 0;
    float: left;
}

.details {
    margin-left: 40px;    
    width: 200px;
    font-weight: bold;
}

.details p {
    margin-bottom: 4px;
}

.bio {
    width: 500px;
    clear: both;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.btns {
    margin: auto;
    width: 205px;
}

.btns button {
    margin: auto;
}

#green {
    background-color: #7DD321;
    border-color: #7DD321;
}

#blue {
    background-color: #4A90E2;
    border-color: #4A90E2;
}

p {
    color: #676B78;
}

form div, h4, h3 {
    font-weight: bold;
    color: #1E1E1E;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}